/*******************BASE STYLES*******************/

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;

}

:root {
  --primary-color: rgb(209, 255, 242, 0.5);
  --secondary-color: rgb(3, 77, 56);
  --contrast-color: rgb(214, 192, 120);
  --text-color: rgb(26, 25, 25);
  --heading-color: rgb(0, 0, 0);
  --menu-speed: 600ms;
}

/*styling the scrollbar*/

#nav-bar::-webkit-scrollbar {
  width: 0.25rem;
}

#nav-bar::-webkit-scrollbar-track {
  background: #b0afac;
}

#nav-bar::-webkit-scrollbar-thumb {
  background: #cf8a00;
}

body::-webkit-scrollbar {
  width: 0.85rem;
}

body::-webkit-scrollbar-track {
  background: #e3e2de;
}

body::-webkit-scrollbar-thumb {
  background: #01291c;
}


/*******************STYLING NAV BAR*******************/

#nav-bar {
  position: sticky;
  top: 0;
  margin: 0 auto;
  height: 250px;
  width: 98vw;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 3px var(--secondary-color) solid;
  background-color: rgb(224, 255, 246);
  transition: width 200ms ease;

}

#nav-bar header a:first-child {
  position: fixed;
  top: 0;
  width: 100vw;
  transform: none;
  transition: none;
  z-index: 2;
}

#nav-bar header a:first-child:hover {
  transform: none;
  transition: none;
  background-color: none;
}

#nav-bar header a {
  font-size: 2rem;
}

#nav-bar header a br {
  display: none;
}

#nav-bar header a {
  font-size: 1.4rem;
  font-weight: 700;
  background-color: rgb(9, 115, 85);
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

#nav-bar header:hover > #menu-back {
  display: block;
  position: fixed;
  z-index: 2;
  top: 10px;
  right: 10px;
  margin: auto 0;
  transition: var(--menu-speed);
}

#menu-back {
  color: white;
}

#nav-divider {
  position: absolute;
  z-index: 1;
  margin-top: 28px;
  width: 100vw;
}

#nav-divider a {
  display: block;
  padding: 10px 15px;
  font-size: 1.1rem;
  border-top: 1px var(--secondary-color) solid;
  text-decoration: none;
  color: var(--text-color);
}

#nav-divider a:hover {
  background-color: var(--secondary-color);
  color: white;
  transform: translateX(5%);
  transition: var(--menu-speed);
}

/*******************NAV FOOTER*******************/

footer > p {
  font-size: 0.9rem;
  text-align: center;
  position: fixed;
  padding: 20px 10px;
  bottom: 0;
  color: #fff;
  background-color: rgb(9, 115, 85);
  width: 100vw;
}

footer > p:hover > i {
  color: #b02800;
  transform: scale(1.5);
  transition: var(--menu-speed);
}


/*******************MAIN DOC*******************/

#main-doc {
  position: absolute;
  top: 290px;
  padding: 0 40px;
  padding-bottom: 60px;
  z-index: -1;
}

#header-line {
  text-align: right;
  font-size: 0.8rem;
}

#main-section {
  padding-bottom: 25px;
  border-bottom: 1px rgba(106, 110, 109, 0.2) solid;
}

#main-section > header > h3 {
  padding: 30px 0 15px 0;
  color: var(--secondary-color);
  font-weight: 700;
}

#main-section > header > #Introduction {
  padding-top: 0;
}

/*******************STYLING LISTS*******************/

#main-section > ul {
  margin-left: 40px;
}

#main-section > ul > li {
  padding: 10px 0;
}


@media only screen and (min-width: 700px) {

  /*******************STYLING NAV BAR*******************/

  #nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    overflow-y: auto;
    z-index: 1;

  }

  #nav-bar header {
    position: absolute;
  }

  #nav-bar a {
    padding: none;
  }

  #nav-bar header a {
    padding: none;
  }

  #nav-bar header a:first-child {
    position: absolute;
    width: 220px;
  }

  #nav-bar header a br {
    display: block;
  }

  #nav-bar header:hover > #menu-back {
    display: none;
  }

  #nav-divider {
    width: 220px;
    position: fixed;
    margin-top: 81px;
    top: 0;
  }


  /*******************NAV FOOTER*******************/

  #nav-bar > footer > p {
    position: fixed;
    width: 200px;
    padding: 20px 10px;
  }

  #nav-bar > p {
    padding: 20px 10px;
  }

  /*******************MAIN DOC*******************/

  #main-doc {
    position: absolute;
    top: 0;
    left: 200px;
    margin: 0 20px;
    text-align: justify;
  }

  #header-line {
    text-align: right;
    font-size: 0.8rem;
  }

  #main-section {
    padding-bottom: 25px;
    border-bottom: 1px rgba(106, 110, 109, 0.2) solid;
  }

  #main-section > header > h3 {
    padding: 30px 0 15px 0;
    color: var(--secondary-color);
    font-weight: 700;
  }

  #main-section > header > #Introduction {
    padding-top: 0;
  }

  /*******************STYLING LISTS*******************/

  #main-section > ul {
    margin-left: 40px;
  }

  #main-section > ul > li {
    padding: 10px 0;
  }

}
